<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="d1" class="org.mahesh.Developer" scope="prototype">

<!--Setter Injection -->
<!--        <property name="age" value="30"/>-->
<!--        <property name="laptop" ref="l1"/>-->

<!--Constructor injection   -->
<!--        <constructor-arg value="50"/>-->
<!--        <constructor-arg ref="l1"/>-->

<!--        <constructor-arg index="1" ref="l1"/>-->
<!--        <constructor-arg index="0" value="50"/>-->

<!--        <constructor-arg name="laptop" ref="l1"/>-->
<!--        <constructor-arg name="age" value="50"/>-->

<!--        <constructor-arg type="org.mahesh.Laptop" ref="l1"/>-->
<!--        <constructor-arg type="int" value="50"/>-->

    </bean>

    <bean id="l1" class="org.mahesh.Laptop">
    </bean>

</beans>