<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="developer" class="org.mahesh.Developer" autowire="byType">
        <!--Autowiring-->
<!--    <property name="computer" ref="computer"/>-->
    </bean>

<!--    Example for "autowire = byName"-->
<!--        <bean id="laptop" class="org.mahesh.Laptop"> </bean>-->
<!--        <bean id="desktop" class="org.mahesh.Desktop"> </bean>-->

<!--    Example for "autowire = byType", Only one of the both should be there-->
<!--        <bean id="com1" class="org.mahesh.Laptop" > </bean> -->
<!--        <bean id="com2" class="org.mahesh.Desktop"> </bean>-->

<!--    Example for "autowire = byType" and primary = true-->
        <bean id="com3" class="org.mahesh.Laptop" primary="true"> </bean>
        <bean id="com4" class="org.mahesh.Desktop" > </bean>



</beans>